.formulario {
  display: flex;
  flex-direction: column;
}

.formulario h1 {
  margin-top: 32px;
  font-size: 1.5em;
  margin-bottom: 16px;
}

.formulario select, .formulario option {
  font-size: 1em;
}

.formulario a {
  display: flex;
  justify-content: center;
}

.formulario button {
  background-color: black;
  color: white;
  font-size: 1em;
  padding: 8px 16px;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  border-radius: 16px;
  width: 100%;
}