.tabla-registros {
  border-collapse: collapse;
  width: 100%;
}

.tabla-registros th {
  padding: 8px 8px;
}

.tabla-registros th:first-child {
  border-radius: 4px 0 0 0;
}

.tabla-registros th:last-child {
  border-radius: 0 4px 0 0;
}

.tabla-registros td {
  padding: 16px 8px;
  border-top: 1px solid #31261D;
  border-bottom: 1px solid #31261D;
  color: #31261D;
  text-align: center;
}

.tabla-registros th {
  background-color: #D76B00;
}

.tabla-registros tr:nth-child(odd) {
  background-color: #F0BF9B;
}

.tabla-registros tr:nth-child(even) {
  background-color: #F3CFB3;
}

.fab {
  position: absolute;
  top: 18px;
  right: 24px;
  background-color: #D76B00;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 20px;
}

.fab svg {
  margin-left: -4px;
}

.fab .agregar-mas {
  color: white;
  position: absolute;
  font-weight: bolder;
  right: 8px;
  top: 6px;
  text-shadow: -1px 1px 1px #D76B00;
}

.titulo-tabla {
  align-self: flex-start;
  font-size: 18px;
  margin: 24px;
}