body {
  background-color: #31261D;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

a:focus, input:focus {
  outline: none;
}

#contenedor {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 100vh;
}

#contenido {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenido p {
  margin-top: 16px;
  width: 80vw;
}

#barra-superior {
  color: white;
  width: 100vw;
  text-align: center;
  padding: 32px 0;
  font-size: 1.5em;
}

.jp-lee-qr {
  display: flex;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab {
  position: absolute;
  bottom: 32px;
  right: 32px;
  background-color: #D76B00;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.fab svg {
  margin-left: -4px;
}

.fab .agregar-mas {
  color: white;
  position: absolute;
  font-weight: bolder;
  right: 10px;
  top: 8px;
  font-size: 24px;
  text-shadow: -1px 1px 1px #D76B00;
}