body {
  background-color: #31261D;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

a:focus, input:focus {
  outline: none;
}

#contenedor {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  min-height: 100vh;
  width: 100vw;
}

.barra-superior {
  color: white;
  padding: 24px 0;
  background-color: #D76B00;
  width: 100%;
  padding-left: 24px;
}

.barra-superior h1 {
  font-size: 1.4em;
  font-weight: bold;
  animation: aparece-titulo .25s ease-in-out both;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@keyframes aparece-titulo {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}